body {
    background-color: aquamarine;
    padding: 0 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
}

h1 {
    border-bottom: 1px solid goldenrod;
    display: inline-block;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-perspective:  150rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin:0 auto;
}


.container {
 background-color: rgba(255, 228, 196, 0.863);
 
 border-radius: 1rem;

 min-width: 350px;
 width: 50%;
 max-width: 50%;
 min-height: 700px;
 padding: 0.2rem;
}

.container header {
    text-align:center;
}

.container header h2 {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.container header h3 {
    margin-top: 0.5rem;
    font-weight:  300;
    font-size:  1rem;
    width: 80%;
    margin: auto;
}

.setting {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.sub-label {
    font-size: 0.9rem;
    font-weight: 200;
}


input[type='text'] {
    border: 1px solid #000;
    padding: 0.35rem 0.85rem 0.35rem 0.4rem;
    line-height: 1.2rem;
    font-size: 1rem;
    font-weight: 200;
    border-radius: 0.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type='text']:focus {
    outline: none;
    border: 1px solid #dea764;
}

.colors {
    display: flex;
    justify-content: space-around;
}

.colors .settings {
    align-items: center;
    text-align: center;

}




input[type='range']::activate::-webkit-slider-runnable-track{
    background-color: bisque;

}

input[type='range']:active::-webkit-scrollbar-corner{
    background-color: azure;
}

input[type='range']::-moz-range-thumb{
    width:20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: blanchedalmond;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb:hover{
    background-color: azure;
}


input[type='range']:activate::-moz-range-thumb{
    background-color: azure;
}
